#menu {
	background-image: url(../img/sfondo-menu.jpeg);
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	height: 100vh;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: fixed;
	text-align: center;
	top: 0;
	transition: all 0.7s ease-in-out;
	visibility: hidden;
	width: 100vw;
	z-index: 1100;
}

#menu.open {
	opacity: 1;
	visibility: visible;
}

#menu.open li:nth-child(1) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
#menu.open li:nth-child(2) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
#menu.open li:nth-child(3) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
#menu.open li:nth-child(4) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
#menu.open li:nth-child(5) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
#menu.open li:nth-child(6) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
#menu.open li:nth-child(7) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
#menu.open li:nth-child(8) {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
#menu.open li:nth-child(9) {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
#menu.open li:nth-child(10) {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}

#menu.open li {
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

#menu li {
	-webkit-animation-duration: 1.1s;
	animation-duration: 1.1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: zoomOut;
	animation-name: zoomOut;
}

#menu ul:hover a {
	opacity: 0.5;
}

#menu ul a {
	-webkit-transform: translateZ(0);
	transition: opacity 0.3s ease-in-out;
}

#menu ul a:hover {
	opacity: 1;
}

#menu .main-nav {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#menu .main-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu .main-nav a {
	font-family: var(--font-secondary);
	color: var(--palette-brown);
	display: block;
	font-size: 2.5rem;
	padding: 2rem 2rem;
	text-decoration: underline;
}

#menu .main-nav a:first {
	padding-top: 0;
}

.toggle-menu {
	background-color: transparent;
	border: none;
	cursor: pointer;
	float: right;
	height: 50px;
	outline: none;
	padding: 0;
	pointer-events: initial;
	position: fixed;
	vertical-align: middle;
	width: 50px;
	z-index: 1110;
	left: 2rem;
	top: 2rem;
}

.home-icon {
	position: fixed;
	z-index: 1110;
	top: 2rem;
	left: 50%;
	transform: translate(-50%, 0);
}

.home-icon img {
	width: 120px;
}

@media screen and (max-width: 768px) {
	.home-icon img {
		width: 100px;
	}
}

.search-icon {
	position: fixed;
	z-index: 1110;
	top: 2.4rem;
	right: 2.4rem;
}

.toggle-menu.active + .home-icon,
.toggle-menu.active + .home-icon + .search-icon{
	filter: invert();
	transition: filter 1s ease-out;
}

.toggle-menu span {
	background-color: #fff;
	content: "";
	display: block;
	height: 2px;
	left: calc(50% - 30px);
	position: absolute;
	top: calc(50% - 1px);
	transform-origin: 50% 50%;
	transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	width: 20px;
}

.toggle-menu span:before,
.toggle-menu span:after {
	background-color: #fff;
	content: "";
	display: block;
	height: 2px;
	position: absolute;
	transform-origin: 50% 50%;
	transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
	width: 28px;
}

.toggle-menu span:before {
	top: 9px;
}

.toggle-menu span:after {
	top: -9px;
}

.toggle-menu.active span {
	background-color: transparent;
	transition: background 0.2s ease-out;
}

.toggle-menu.active span:before,
.toggle-menu.active span:after {
	transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
	top: 0;
	background-color: var(--palette-brown);
	transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
	top: 0;
	background-color: var(--palette-brown);
	transform: rotate3d(0, 0, 1, 45deg);
}