@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Playfair+Display&display=swap");

:root {
	--font-primary: "IBM Plex Sans", sans-serif;
	--font-secondary: "Playfair Display", serif;
	--color-light: #cebbab;
	--color-yellow: #e3a839;
	--color-light-yellow: #d0ac49;
	overflow-x: hidden;
	--palette-brown: #360f0f;
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: var(--font-primary);
	line-height: 1.5;
	letter-spacing: 0.08rem;
	overflow: hidden;
}

#hero,
#hero2 {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#hero::after,
.semitransparent::after {
	width: 100vw;
	height: 100vh;
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#hero video {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	object-fit: cover;
}

#hero .caption {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	color: white;
	font-family: var(--font-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#hero .caption img {
	max-width: 70%;
	margin: auto;
}

@media screen and (max-width: 768px) {
	.testo {
		font-size: 1rem;
	}

	#hero .caption .text-center {
		padding-top: 30%;
	}
}

@media screen and (min-width: 768px) {
	.testo {
		font-size: 1.4rem;
	}
}

#hero .subcaption .stagioni .testo {
	color: white;
	border: 1px solid #ffffff;
}

#hero .subcaption .stagioni .testo:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.esplora-territorio {
	position: relative;
	width: 100%;
	z-index: 20;
	color: white;
	font-family: var(--font-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	top: 3rem;
}

.mappa-home {
	background-image: url(../img/mappa.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.text-comune {
	font-family: var(--font-primary);
	color: var(--color-yellow);
}

.text-comune:hover {
	color: var(--color-light-yellow);
}
.card {
	background-color: #00000040;
}

.card-body {
	font-family: var(--font-primary);
}

.light-link {
	text-decoration: underline;
	color: var(--color-light);
}

.talamello {
	background-image: url(../img/talamello.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.talamello-text {
	z-index: 20;
	color: white;
	bottom: 3rem;
}

.foglie {
	background-image: url(../img/foglie.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.foglie-text {
	z-index: 20;
	color: var(--palette-brown);
	width: 100vw;
	height: 100vh;
}

.foglie-text .d-flex {
	width: 100vw;
	height: 100vh;
}

.foglie-col {
	flex: 50%;
}

@media screen and (min-width: 768px) {
	.foglie-col,
	.text-center {
		font-size: 1.8vw;
	}
}

.headline {
	background-color: #cebbab;
}

.headline img {
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.prodotto {
	height: 100vh;
}

.prodotto-img {
	flex: 50%;
}

.prodotto-desc {
	flex: 50%;
}

.castagna {
	background-color: #9d4b3a;
	width: 75%;
	height: 100%;
}

.tartufo {
	background-color: #453939;
	width: 75%;
	height: 100%;
}

.formaggio {
	background-color: #f3daab;
	width: 75%;
	height: 100%;
}

.prodotto-center {
	top: 50%;
	left: 40%;
	transform: translateY(-50%);
}

.icon {
	right: 2rem;
	top: 2rem;
}

.prodotto-desc .text-center{
	height: 100vh;
}

@media screen and (max-width: 767px) {
	.prodotto{
		display: none;
	}
	.prodotto-mobile {
		display: flex;
	}
	.castagna,
	.tartufo,
	.formaggio {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.prodotto{
		display: flex;
	}
	.prodotto-mobile {
		display: none;
	}
}

.prodotto-mobile {
	height: 40vh;
}

.img-mobile {
	bottom: -50px;
}

.description-mobile {
	color: white;
}

.description-mobile a {
	color: white;
	text-decoration: underline;
}
.icona-stagione{
	cursor: pointer;
}
.icona-stagione:hover{
	border: solid;
	border-color: #c89c8e;
	border-radius: 50%;
}

.footer,
.footer-mobile {
	background-color: #462b2f;
}
.footer-col{
	flex: 50%;
	color: white;
}

.social {
	color: white;
}

.social a,
.social-mobile a {
	color: white;
}

.dropdown-toggle {
	text-decoration: underline;
}

.dropdown a {
	color: white;
}
.dropdown a:hover {
	color: white;
}

.dropdown-item{
	color: black!important;
}

.policies a {
	color: white;
}

.footer-menu {
	flex: 33%;
}

.footer-menu a {
	color: white;
}

.footer-mobile .flex-column {
	height: 100%;
}

@media screen and (max-width: 1023px) {
	.footer{
		display: none;
	}
	.footer-mobile {
		display: flex;
	}
}

@media screen and (min-width: 1024px) {
	.footer{
		display: flex;
	}
	.footer-mobile {
		display: none;
	}
}