@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Playfair+Display&display=swap");

:root {
	--font-primary: "IBM Plex Sans", sans-serif;
	--font-secondary: "Playfair Display", serif;
	--color-light: #cebbab;
	--color-yellow: #e3a839;
	--color-light-yellow: #d0ac49;
	overflow-x: hidden;
	--palette-brown: #360f0f;
}

::-webkit-scrollbar {
	display: none;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizelegibility;
}

body {
	font-family: var(--font-primary);
	line-height: 1.5;
	letter-spacing: 0.08rem;
	overflow: hidden;
}

#hero,
#hero2 {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

#hero::after,
.semitransparent::after {
	width: 100vw;
	height: 100vh;
	content: "";
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

#hero video {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	object-fit: cover;
}

#hero .caption {
	position: relative;
	width: 100vw;
	height: 100vh;
	z-index: 20;
	color: white;
	font-family: var(--font-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#hero .caption img {
	max-width: 70%;
	margin: auto;
}

@media screen and (max-width: 768px) {
	.testo {
		font-size: 1rem;
	}

	#hero .caption .text-center {
		padding-top: 30%;
	}
}

@media screen and (min-width: 768px) {
	.testo {
		font-size: 1.4rem;
	}
}

#hero .subcaption .stagioni .testo {
	color: white;
	border: 1px solid #ffffff;
}
#hero .subcaption .stagioni .testo a {
	color: white;
}
#hero .subcaption .stagioni .testo a:hover {
	color: black;
	text-decoration: none;
}

#hero .subcaption .stagioni .testo:hover {
	background-color: white;
	color: black;
	cursor: pointer;
}

.esplora-territorio {
	position: relative;
	width: 100%;
	z-index: 20;
	color: white;
	font-family: var(--font-secondary);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	top: 3rem;
}

.mappa-home {
	background-image: url(../img/mappa.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.text-comune {
	font-family: var(--font-primary);
	color: var(--color-yellow);
}

.text-comune:hover {
	color: var(--color-light-yellow);
}
.card {
	background-color: #00000040;
}

.card-body {
	font-family: var(--font-primary);
}

.light-link {
	text-decoration: underline;
	color: var(--color-light);
}

.talamello {
	background-image: url(../img/talamello.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.talamello-text {
	z-index: 20;
	color: white;
	bottom: 3rem;
}

.foglie {
	background-image: url(../img/foglie.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
}

.foglie-text {
	z-index: 20;
	color: var(--palette-brown);
	width: 100vw;
	height: 100vh;
}

.foglie-text .d-flex {
	width: 100vw;
	height: 100vh;
}

.foglie-col {
	flex: 50%;
}

@media screen and (min-width: 768px) {
	.foglie-col,
	.text-center {
		font-size: 1.8vw;
	}
}

.headline {
	background-color: #cebbab;
}

.headline img {
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
}

.prodotto {
	height: 100vh;
}

.prodotto-img {
	flex: 50%;
}

.prodotto-desc {
	flex: 50%;
}

.castagna {
	background-color: #9d4b3a;
	width: 75%;
	height: 100%;
}

.tartufo {
	background-color: #453939;
	width: 75%;
	height: 100%;
}

.formaggio {
	background-color: #f3daab;
	width: 75%;
	height: 100%;
}

.prodotto-center {
	top: 50%;
	left: 40%;
	transform: translateY(-50%);
}

.icon {
	right: 2rem;
	top: 2rem;
}

.prodotto-desc .text-center {
	height: 100vh;
}

@media screen and (max-width: 767px) {
	.prodotto {
		display: none;
	}
	.prodotto-mobile {
		display: flex;
	}
	.castagna,
	.tartufo,
	.formaggio {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.prodotto {
		display: flex;
	}
	.prodotto-mobile {
		display: none;
	}
}

.prodotto-mobile {
	height: 40vh;
}

.img-mobile {
	bottom: 0;
}

.description-mobile {
	color: white;
}

.description-mobile a {
	color: white;
	text-decoration: underline;
}
.icona-stagione {
	transform: scale(1);
	cursor: pointer;
	transition: all 1s ease-in-out;
}
.icona-stagione:hover img {
	transform: scale(1.2);
}

.footer,
.footer-mobile {
	background-color: #462b2f;
}
.footer-col {
	flex: 50%;
	color: white;
}

.social {
	color: white;
}

.social a,
.social-mobile a {
	color: white;
}

.dropdown-toggle {
	text-decoration: underline;
}

.dropdown a {
	color: white;
}
.dropdown a:hover {
	color: white;
}

.dropdown-item {
	color: black !important;
}

.policies a {
	color: white;
}

.footer-menu {
	flex: 33%;
}

.footer-menu a {
	color: white;
}

.footer-mobile .flex-column {
	height: 100%;
}

@media screen and (max-width: 1023px) {
	.footer {
		display: none;
	}
	.footer-mobile {
		display: flex;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		display: flex;
	}
	.footer-mobile {
		display: none;
	}
}

.map-container .pattern-1 {
	padding-top: 80px;
}

@media only screen and (max-width: 640px) {
	.map-container .pattern-1 {
		padding-top: 50px;
	}
}

.pattern-map .map-wrapper {
	padding-left: 0;
	padding-right: 0;
}

.pattern-map .map-wrapper h1 {
	position: absolute;
	left: 5%;
	top: 10%;
	color: rgba(255, 255, 255, 0.5);
	font-size: 4rem;
}

@media only screen and (max-width: 768px) {
	.pattern-map .map-wrapper h1 {
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 425px) {
	.pattern-map .map-wrapper h1 {
		font-size: 1.2rem;
	}
}

.pattern-map .mappa {
	width: 100%;
}

.pattern-map .hotpoint {
	position: absolute;
	width: 3vw;
	height: 3vw;
	background: transparent url("../img/hotpoint.png") center center no-repeat;
	background-size: 3vw;

	cursor: pointer;
}

.pattern-map .hotpoint-1 {
	left: 24%;
	top: 56.5%;
}
.pattern-map .hotpoint-2 {
	left: 34.5%;
	top: 60%;
}
.pattern-map .hotpoint-3 {
	left: 39%;
	top: 44.5%;
}

.map-container .box {
	padding: 0 20px 0 0;
	width: 25vw;
	height: 20vw;
	overflow: hidden;
	position: absolute;
	z-index: 20;
	display: none;
	background-color: #f7e7bb;
	border-radius: 5%;
	background-image: url("../img/foglie\ 2.svg");
	background-repeat: no-repeat;
	background-position: right;

	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
}

.map-container .box h6 {
	margin-left: 5%;
	padding-top: 15px;
	padding-bottom: 10px;
	font-size: 20px;
	font-weight: 700;
	color: #360f0f;
}

.map-container .box p {
	font-size: 15px;
	margin-left: 5%;
}

.map-container .box .close-box {
	position: absolute;
	top: 10%;
	right: 5%;
	width: 40px;
	height: 40px;
	background: transparent url("../img/close-black.svg") center center no-repeat;
}

.map-container .box .box-link {
	margin-left: 5%;
}

@media only screen and (max-width: 1024px) {
	.map-container .box {
		width: 30vw;
		height: 30vw;
	}
}

@media only screen and (max-width: 768px) {
	.map-container .box {
		width: 30vw;
		height: 30vw;
	}

	.map-container .box p {
		font-size: 10px;
		margin-left: 5%;
		line-height: normal;
	}
	.map-container .box h6 {
		margin-left: 5%;
		padding-top: 15px;
		padding-bottom: 10px;
		font-size: 10px;
		font-weight: 700;
		color: #360f0f;
	}

	.map-container .box .close-box {
		position: absolute;
		top: 10%;
		right: 5%;
		width: 10px;
		height: 10px;
		background: transparent url("../img/close-black.svg") center center no-repeat;
	}
}

@media only screen and (max-width: 425px) {
	.map-container .box {
		width: 50vw;
		height: 50vw;
	}
}

@media only screen and (max-width: 375px) {
	.map-container .box {
		width: 60vw;
		height: 65vw;
	}
}

.container-autunno {
	background-image: url(../img/autunno.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.container-autunno .d-flex {
	height: 100vh;
}
.container-autunno .d-flex .text h1 {
	font-size: 5rem;
}

.container-autunno .d-flex .text p {
	font-size: 2rem;
}

@media only screen and (max-width: 425px) {
	.container-autunno .d-flex .text h1 {
		font-size: 3rem;
	}

	.container-autunno .d-flex .text p {
		font-size: 1rem;
	}
}

.item {
	cursor: pointer;
}
.item:hover > .overflow > .content-art {
	opacity: 100%;
}

.overflow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.content-art {
	opacity: 0;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	padding: 10px 15px;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	transition: opacity 800ms ease-out;
}

.content-art a {
	color: white;
	text-decoration: none;
}
.castagne {
	background: rgba(160, 112, 93, 0.6);
}

.olio {
	background: rgba(211, 178, 57, 0.6);
}

.formaggio {
	background: rgba(236, 205, 138, 0.6);
}

.balsamo {
	background: rgba(157, 118, 127, 0.6);
}

.patate {
	background: rgba(218, 176, 116, 0.6);
}

.vino {
	background: rgba(97, 59, 59, 0.6);
}

.raviggiolo {
	background: rgba(172, 175, 164, 0.6);
}

.tartufo {
	background: rgba(75, 61, 57, 0.6);
}

.funghi {
	background: rgba(219, 200, 175, 0.6);
}

.container-chisiamo {
	background-image: url(../img/chi-siamo.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.container-chisiamo .d-flex {
	height: 100vh;
}

.chisiamo-titolo {
	width: 80%;
	height: 80%;
}

@media only screen and (max-width: 1024px) {
	.chisiamo-titolo {
		height: 60%;
	}
}

@media only screen and (max-width: 768px) {
	.chisiamo-titolo {
		height: 40%;
	}
}

@media only screen and (max-width: 425px) {
	.chisiamo-titolo {
		height: 18%;
	}
}

.container-chisiamo2 {
	background-image: url(../img/chi-siamo-pattern.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100vh;
}

.container-chisiamo2 .d-flex {
	height: 100vh;
}

.container-chisiamo2.d-flex .text h1 {
	font-size: 5rem;
}

.container-chisiamo2.d-flex .text p {
	font-size: 2rem;
}

@media only screen and (max-width: 425px) {
	.container-chisiamo2 .d-flex .text h1 {
		font-size: 2rem;
	}

	.container-chisiamo2 .d-flex .text p {
		font-size: 1rem;
	}
}

.castagne-esterno {
	height: 100vh;
	overflow-y: scroll;
}

.container-castagne {
	background-image: url(../img/palette.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 150vh;
	width: 100vw;
	top: 4rem;
	background-attachment: scroll;
}

.castagne-pattern {
	background-image: url(../img/pattern-castagne.svg);
	background-size: cover;
	background-position: center;
	height: 200vh;
	width: 100vw;
	top: -30vh;
	background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
	.container-castagne {
		height: 100vh;
	}
	.castagne-pattern {
		background-size: 160%;
		height: 150vh;
	}
}

@media only screen and (max-width: 425px) {
	.container-castagne {
		height: 100vh;
	}
	.castagne-pattern {
		background-size: 200%;
		height: 150vh;
	}
}


@media only screen and (min-width: 768px) {
	.info-castagna {
		font-size: 1.5rem;
	}
}

.headline-castagne {
	background-color: #cebbab;
}

.headline-castagne h2 {
	margin-left: 3rem;
	font-size: 3rem;
}

.headline-castagne img {
	width: 30%;
	bottom: -50px;
	right: 3rem;
}

@media only screen and (max-width: 1024px) {
	.headline-castagne img {
		width: 40%;
		bottom: -50px;
		right: 3rem;
	}
}

@media only screen and (max-width: 768px) {
	.headline-castagne h2 {
		margin-left: 2rem;
		font-size: 2rem;
	}
	.headline-castagne img {
		width: 50%;
		bottom: -50px;
		right: 2rem;
	}
}

@media only screen and (max-width: 428px) {
	.headline-castagne h2 {
		margin-left: 0;
		font-size: 1.5rem;
	}
	.headline-castagne img {
		width: 50%;
		bottom: 10px;
		right: 0;
	}
}

.ricette .card {
	border: none;
}

.ricette .card-body {
	padding: 2rem;
}

.castagne-vapore {
	background-color: #f5e7b2;
}

.castagne-microonde {
	background-color: #eec8a4;
}

.castagne-bollite {
	background-color: #ccaf56;
}

.castagne-forno {
	background-color: #f9e090;
}

.castagne-padella {
	background-color: #daa06a;
}

.castagne-sale {
	background-color: #e1ab4c;
}

.castagne-right img {
	flex: 50%;
}
.castagne-dove {
	background-color: #ccb8a9;
}

.castagne-larger {
	background-image: url(../img/castagne-dove1.svg);
	background-size: cover;
	background-position: center;
}

.dove1,
.dove2 {
	flex: 1;
}

.dove1 img {
	height: 100%;
}

@media only screen and (max-width: 768px) {
	.dove-container {
		flex-direction: column;
	}
}